/* @font-face {
    font-family: Karla;
    src: url("C:/Users/olaji/Documents/VSCode/FSD/JS/password_generator/Karla-VariableFont_wght.ttf");
} */

body{
    background: #1f2937;
    color: #ffffff;
    font-family: "Inter";
    margin: 0;
}

#content{
    margin: 115px 52px;
}

#header-text{
    font-size: 40px;
    font-weight: 900;
    font-family: "Karla", sans-serif;
    margin: 0px;

}

#comment-text{
    font-size: 20px;
    margin: 10px 0 50px 0;
    color: #d5d4d8;
    font-weight: 400;
}

#action-btn{
    background-color: #10b981;
    font-family: inherit;
    color: #ffffff;
    padding: 9px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
}

#action-btn:hover{
    background-color: #0d9668;
}

#password-length{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#password-length-input{
    height: 25px;
    width: 230px;
    /* text-align: center;   */
    font-family: inherit;
    border-radius: 5px;
    border: none;
}

#empty-error-msg{
    color: #ff0000;
    font-size: small;
    margin: 0 0 0 10px;
}

#symbol-checkbox, #number-checkbox{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
}

#border-line{
    border-bottom: 1px solid #2F3E53;
    margin: 35px 0;
}
.colour-class{
    color: #10b981;
}

.options-text{
    display: inline;
    margin: 0px;
}

.options-div{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

#display-boxes{
    display: flex;
    justify-content: space-evenly;
}

#display-box-one, #display-box-two{
    width: 300px;
    height: 60px;
    border: none;
    background-color: #273549;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #55F991;
}

#display-box-one:hover, #display-box-two:hover{
    background-color: #17202c;
}

#footer{
    text-align: center;
    color: #d5d4d8;
    font-size: small;
    margin-top: 30px;
}